# data/**/*
data/raw/
data/clean_data/*
!data/clean_data/synthDF
!data/clean_data/new_*
data/results/*.csv #might need to change with separate directories for 3 experiments.
old_data/
positive_data/
theoretical_data/
.ipynb_checkpoints/
__pycache__/
new_dataset.db
class_dataset.db
qm9tut/
PUClass.txt
pu_alignn/sample_synth
pu_alignn/PUOutput*
pu_alignn/PUehull*
pu_alignn/PUehull015*
pu_alignn/pretrain_test
pu_alignn/checking_datasets
nohup_texts/
nohups/
heuristics_analysis/data_chunks/*
heuristics_analysis/crystal_features.npy
heuristics_analysis/processed_chunks_0.pkl
heuristics_analysis/_coSchAl1.pkl
pu_schnet/schnetDatabases/
pu_schnet/*res_log
scratchCode.ipynb
**/iterReport*
iterReport*
schnet/splitting.lock
.ipynb_checkpoints
readme_4me.log
.vscode/
!data/README.md
.pytest_cache/
readme_4me
alignn_remaining_time*
schnet_remaining_time*
pu_schnet/PUOutput*
pu_schnet/PUehull*
pu_schnet/PUehull015*
pu_schnet/PUOutTest_*
data/results/*/*_resdf.pkl
old_code/
_heuristics_analysis/
_figures/
_experiment_commands.txt
match_crystals.ipynb
smact.ipynb
data/wbm_data/2022-10-19-wbm-computed-structure-entries+init-structs.json
