data/**/*
old_data/
positive_data/
theoretical_data/
.ipynb_checkpoints/
__pycache__/
new_dataset.db
class_dataset.db
qm9tut/
PUClass.txt
alignn/sample_synth
alignn/PUOutput*
alignn/pretrain_test
alignn/checking_datasets
nohup_texts/
nohups/
heuristics_analysis/data_chunks/*
heuristics_analysis/crystal_features.npy
heuristics_analysis/processed_chunks_0.pkl
heuristics_analysis/_coSchAl1.pkl
schnet/schnetDatabases/
schnet/*res_log
scratchCode.ipynb
**/iterReport*
iterReport*
schnet/splitting.lock
.ipynb_checkpoints
readme_4me.log
.vscode/
!data/README.md
